body {
    background-color: rgb(26, 26, 26);
}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(183, 183, 184);
}

span {
    color: blue;
}

#header {
    height: 100px;
    background-color: rgba(104, 104, 104, 0.438);
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#sidebar {
    width: 100px;
    background-color: rgba(138, 138, 138, 0.521);
}

#content {
    width: 680px;
    background-color: blue;
}

#footer {
    height: 100px;
    background-color: rgba(255, 139, 139, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF ;
}

.flex-row {
    display: flex;
}

#menu {
    height: 50px;
    width: 50px;
    background-color: brown;
}