body {
    background-color: rgb(26, 26, 26);
}

h1 {
    color: black;
}

h2 {
    color: black;
}

span {
    color: blue;
}

#header {
    height: 100px;
    background-color: rgba(104, 104, 104, 0.438);
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: black
}

#header img{
    height: 80px;
    height: 80px;
}

#sidebar {
    width: 150px;
    background-color: grey;
}

#content {
    width: 800px;
    height: 800px;
    background-color: white;
}

#footer {
    height: 100px;
    background-color: rgba(104, 104, 104, 0.438);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.flex-row {
    display: flex;
}

#menu {
    height: 50px;
    width: 300px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu a{
    color: white;
    text-decoration: none;
}