body, html {
    margin: 0;
    padding: 0;
    background-color: #1F1D2B;
    color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
body > header {
    height: 90px;
    background-color: #37375C;
}
body > header .wrapper .flexrow{
    align-items: center;
}

body > header .wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav ul li a{
    padding: 32px 20px;
    color: #FFF;
    text-decoration: none;
}

header nav ul li a:hover, .active{
    border-bottom: 3px solid #68AFFF;
    color: #68AFFF;
}

header nav ul li button{
    background: #68AFFF;
    color: #FFF;
    border-radius: 15px;
    padding: 10px 15px;
    border: none;
    margin: 0 0 0 15px;
    cursor: pointer;
}

body > header img{
    width: 50px;
    height: 50px;
}

.flexrow{
    display: flex;
    gap: 20px;
}
aside {
    width: 200px;
    min-height: calc(100vh - 210px);
    background-color: bisque;
}
body > div.wrapper > div > main {
    width: 100%;
    min-height: calc(100vh - 250px);
    padding: 20px;
}
body > footer {
    height: 120px;
    background-color: #37375C;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
}

.card-stock{
    position: relative;
    width: 185px;
    background-color: #2e2e4d;
    padding: 20px;
    height: fit-content;
    border-radius: 10px;
}

.card-stock header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-stock header h2, .card-stock header h3{
    margin: 0;
}

.card-stock main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 26px;
    color: rgb(0, 220, 0);
}

.card-stock footer{
    display: flex;
    justify-content: space-between;
}

.modal{
    background: #242424c3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal main {
    background: #37375C;
    width: 300px;
    border-radius: 10px;
    padding: 20px 30px;
}

.modal main h1{
    color: #ffffff;
    margin: 0;
}

.modal main label{
    color: #ffffff;
    margin: 10px 0 0 0;
}

.modal main form{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

.modal main form input[type="text"], .modal main form select{
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #000;
}

.modal main form input[type="submit"], button{
    background: #68AFFF;
    color: #FFF;
    border-radius: 15px;
    padding: 10px 15px;
    border: none;
    margin: 20px 0 0 0;
    cursor: pointer;
}

#cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000bb;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons button {
    margin: 0;
}

table, td, th{
    border: 2px solid #FFF
}

table{
    width: 360px;
    border-collapse: collapse;
}

td{
    padding: 5px 10px;
}